In [9]:
import pandas as pd

# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [10]:
heart_disease = pd.read_csv('heart-disease.csv')

In [13]:
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [55]:
y = heart_disease['target']

In [56]:
x = heart_disease.drop('target', axis=1)

In [80]:
heart_shuffled = heart_disease.sample(frac=1)

In [81]:
heart_shuffled.reset_index(inplace=True,drop=True)

In [82]:
heart_shuffled

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,58,0,1,136,319,1,0,152,0,0.0,2,2,2,0
1,48,1,1,130,245,0,0,180,0,0.2,1,0,2,1
2,48,1,0,130,256,1,0,150,1,0.0,2,2,3,0
3,48,1,0,124,274,0,0,166,0,0.5,1,0,3,0
4,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
299,49,0,0,130,269,0,1,163,0,0.0,2,0,2,1
300,43,1,0,115,303,0,1,181,0,1.2,1,0,2,1
301,64,0,0,130,303,0,1,122,0,2.0,1,2,2,1
302,35,0,0,138,183,0,1,182,0,1.4,2,0,2,1